body {
    font-family: 'Poppins', sans-serif;
    background: #ACD1AF;
}

main {
    min-height: 76vh;
    overflow-y: auto;
}

h1{
    color: #2F4F4F;
}

.navbar{
    background: #2F4F4F;
    color:#fff !important
}

.footer {
    background: #2F4F4F;
    color:#fff !important
}

.btn-theme {
    background:#2F4F4F;
    color:white;
    border:none;
}

.btn-theme:hover {
    background:#ACD1AF;
}

.card:hover {
    transform: translateY(-5px);
    transition:0.3s;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.text-warning {
    color:#ffc107 !important;
}

.search-results {
  max-height: 250px;
  overflow-y: auto;
  border-radius: 12px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search-results::-webkit-scrollbar {
    display: none;
}

.search-item:hover { background: rgba(0,0,0,0.05); cursor: pointer; }

.rating-wrapper {
  margin-top: 0.35rem;
}

.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  display: inline-flex;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}
